/*
  Name: Ambar Cerino
  File: style.css
  Date: 20 February, 2026
  Description: css style for part 1 - assignment 3
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}
/*
Box Styles
*/
body {
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}
ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}